#chat-screen{
    background-color:#abc1d1;
    height: 11000vh;
}
#chat-screen .status-bar{
    z-index:1;
    background-color:#abc1d1;
}

#chat-screen .alt-header{
    position: fixed;
    background-color:#abc1d1;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index:2;
}
.main-chat{
    margin-top: 120px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chat__timestamp{
    background-color: #8d9fab;
    color: white;
    padding: 12px;
    border-radius: 15px;
    margin-bottom: 25px;
}
.message-row{
    width: 100%;
    display: flex;
}
.message-row img{
    width: 60px;
    height: 60px;
    border-radius: 10%;
    margin-right: 15px;
}
.message-row__author,
.message-row__time{
    font-size: 13px;
     opacity: 0.5;
     margin-bottom: 15px;
     display: block;
}
.message-row__info{
    display: flex;
    align-items: flex-end;
}
.message-row__bubble{
    background-color: white;
    padding: 8px 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    margin-right: 5px;
}
