#friends-display-link{
    text-align: center;
    display: block;
    background-color: rgba(237, 237, 237,0.4); ;
    padding: 15px 0;
    font-size: 20px;
    
}
#friends-display-link i{
    color: rgba(0, 0, 0, .3);
}