.badge{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: tomato;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.just-noti{
    width: 5.5px;
    height: 5.5px;
    border-radius: 7.5px;
    background-color: tomato;
    display: flex;
    position: absolute;
    bottom: 10px;
}
.fa-gear{
    position: relative;
}
